@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root{
    --primary-color: #CCD5AE;
    --secondary-color: #E9EDC9;
    --text-color: #333;

}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}

p{
    color: var(--text-color);
}

a{
    text-decoration: none;
}

body{
    max-width: 1200px;
    margin: 0 auto;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero article{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero article img{
    float: right;
    margin-left: 20px;
}

footer{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer img{
    width: 30px;
    height: 30px;
    margin: 0 5px;
}