@import url('https://fonts.googleapis.com/css2?family=Roboto&family=opensans&display`=swap');

:root{
    --primary-color: #CCD5AE;
    --secondary-color: #E9EDC9;
    --accent1-color: #FEFAE0;
    --accent2-color: #D4A373;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'open sans' serif;

    --nav-background-color: #CCD5AE;
    --nav-link-color: #E9EDC9;
    --nav-hover-link-color: #FEFAE0;
    --nav-hover-background-color: #D4A373;
}


h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}

p{
    color: var(--text-color);
}

a{

    text-decoration: none;
}

body{
    max-width: 1200px;
    margin: 0 auto;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    padding: 20px 0;
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    background: var(--accent1-color);
    color: #000;
}

.hero article{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    top: 150px;
    left: 30px;
    right: 30px;
}

.hero article img{
    float: right;
    width: 150px;
    margin-left: 20px;

}


footer{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer img{
    width: 30px;
    height: 30px;
    margin: 0.5px;
}