@import url("https://fonts.googleapis.com/css2?family=Roboto&family=opensans&display`=swap");


:root{
    --primary-color: steelblue;

}


h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}

h2{
    padding: .5rem;
    margin-bottom: 0.5rem;
}


label{
    display: block;
    margin-bottom: 10px;
}



input[type="text" ]{
    width: 500px;
    height: 100px;
    margin-left: 10px;
}

textarea{
    width: 500px;
    margin-right: 10px;
    height: 100px;
}

option{
    width: 500px;
    height: auto;
    margin-left: 10px;
}

input[type="numbers"]{
    width: 500px;
    height: auto;
    margin-left: 10px;
}


button{
    margin: 50px;
    display: inline;
    background-color: steelblue;
    padding: 30px;
    width: 300px;
    color: #ffff;
    text-align: center;
}

